.restorants {

  &__list {
  box-sizing: border-box !important;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // gap: 30px;

  @include r($size-md) {
    grid-template-columns: repeat(2, minmax(auto, 370px));
    gap: 10px;
    justify-content: center;
  }
  }

  &__item {
    border-radius: 10px;
    transition: box-shadow .3s;
    &:hover {
      box-shadow: 0px 3px 15px rgba($c-orange-900, 0.5);
    }
  }
}