.catalog-page {
    &__breadcrumbs {
        margin-bottom: size(60, 40);
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        grid-template: 20px;
        margin-bottom: size(60, 30);
	}

    &__title {
        margin-bottom: 0;
            @include r($size-sm) {
            margin-bottom: 20px;
        }
    }

    &__select-sort {
    width: 130px;
      
    }

    &__select-number {
        width: 92px;
    }

    &__inner {
        display: flex;
        gap: 30px;
    }
}

.catalog {
    &__list {
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: size(60,30);

        @include r($size-sm) {
            grid-template-columns: repeat(3, 1fr);
        }
         @include r($size-xs) {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px 5px;
        }
    }
}

.sidebar {
    min-width: 270px;
    background-color: $c-white;
    transition: all 0.3s ease-in-out;

    @include r($size-md) {
        position: fixed;
        width: 300px;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-200%);
    }

    &.open {
        @include r($size-md) {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
         }
    }

    &__head {
        display: none;
        padding: 20px;
        justify-content: flex-end;

        @include r($size-md) {
            display: flex;
        }
    
    }

    &__inner {
        width: 270px;
        overflow-y: auto;
        height: calc(100vh - 100px);
    }
}

.filters-box {
    border-radius: 5px;
    border: 1px solid $c-silver-200;
    &:not(:last-child) {
        margin-bottom: 30px;
    }

    &__head {
        padding: 15px;
        border-bottom: 1px solid $c-silver-200;
    }

    &__title {
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: 0.03em;
    }

    &__inner {
        padding: 25px 15px;
    }
}

.filters-list {

    &__item{
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    &__link {
        @extend .menu__link;
        font-size: 18px;
        line-height: 1.3;
        letter-spacing: 0.03em;
    }
}

.filters-top {
    display: flex;
    align-items: center;
    gap: 20px;
}

.filter-btn {
    display: none;
    min-width: 47px;
    height: 47px;
    background-color: rgba($c-orange-900, 0.1);
    border-radius: 3px;

    @include r($size-md) {
        display: flex;
    }

    &::before {
        min-width: 35px;
        height: 35px;
        background-color: $c-orange-900;
    }

    &:focus,
    &:hover,
    &:active {
        &::before{
        background-color: $c-orange-900;
        }
    }
}

.select {
    padding: 15px;
    // padding-right: 41px;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    border: 1px solid $c-gray;
    border-radius: 3px;

    background-image: url(../images/sprite.svg#icon-chevron-down);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 10px;

}

.checkbox {

     &__label {
        position: relative;
        padding-left: 36px;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $c-orange-900;

            &::before {
                border-color: rgba($c-darkBlue-900, 0.5)
            }
        }

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            min-width: 22px;
            height: 22px;
            transition: all 0.3s ease-in-out;
        }

        &::before{
            border-radius: 3px;
            border: 1px solid $c-silver-200;
            background-color: rgba($c-orange-900, 0.1);
        }

        &::after {
            mask-image: url(../images/sprite.svg#icon-check);
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: 12px;
            background-color: $c-darkBlue-900;
            opacity: 0;
            }
    }
    &__input {

        &:checked {
            
            & + .checkbox__label {


                &::before {
                    border-color:$c-darkBlue-900;
                }

                &::after {
                    opacity: 1;
                }
            }
        }
    }
   
}


.range {

    &__group {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: $c-gray;
        &::after {
            content:'₴';
        }
    }

    &__items {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 25px;
    }

    &__input {
        width: 70px;
        border-radius: 3px;
        border: 1px solid $c-silver-200;
        background-color: rgba($c-orange-900, 0.1);
        padding: 12px;
        text-align: center;
    }

   .noUi-target {
    background-color: $c-orange-900;
  
    border-radius:0;
    border: 0;
    box-shadow:none;
   } 

   .noUi-horizontal {
    width: 240px;
    height: 2px;
   
        .noUi-handle{
        width: 18px;
        height:18px;
        top: -8px;
    }
   }

   .noUi-connects {
    border-radius: 0;
   }

   .noUi-connect {
    background-color: $c-orange-900;
   }

   .noUi-handle {
    border-radius: 50%;
    background-color: $c-orange-900;
    border:none;
    box-shadow: none;
   

    &::before {
        content: none;
    }

    &::after {
        content: none;
    }
   }
}

.pagination {

	&__list {
        display: flex;
        gap: 6px;
        align-items: center;
        justify-content: center;
	}

	&__item {
        @include r($size-xs) {
            &:nth-child(3),
            &:nth-last-child(3) {
                display: none;
            }
        }
	}

	&__link {
        display: block;
        min-width: 48px;
        height: 48px;
        border-radius: 3px;
        background-color:rgba($c-orange-900, 0.1);
        font-size: 18px;
        line-height: 1;
        letter-spacing: 0.03em;
        padding: 15px 5px;
        text-align: center;
        outline: 1px solid transparent;
        transition:all 0.3s ease-in-out;

        &:focus {
            outline-color: $c-orange-900;
            outline-width: 2px;
        }

        &:hover {
            background-color: $c-orange-900;
            color: $c-white;
        }

        &:active {
            outline-color: transparent;
            box-shadow: inset 0 -1px 2px 4px rgba($c-darkBlue-900, 0.15);
            background-color: rgba($c-orange-900, 0.1);
            color: $c-dark;
        }

        &--prev,
        &--next {
            display: flex;
            &::before {
                mask-size: 18px;
            }
           }

        &--disabled {
            &::before {
                background-color: $c-gray;
            }

            &:focus,
            &:hover,
            &:active {
                outline-color: transparent;
                box-shadow: none;
                background-color: rgba($c-orange-900, 0.1);
                
                 &::before {
                background-color: $c-gray;
                }
            }
		}

        &--current {
            outline-color: $c-dark;
        }

        &--dots {

        }

	}

}

.discount {
    &__title {
        text-align: left;
        
        @include r($size-sm) {
            text-align: center;
    }
    }

    &__list {
        box-sizing: border-box !important;

        @include r($size-sm) {
            display: flex;
            justify-content: initial;
            gap: initial;
            margin-bottom: 45px;
        }

        .content-card {
            @include r($size-sm) {
            margin: 0 auto;
            }
        }
    }

    &__slider {
        overflow: visible;
        @include r($size-sm) {
            overflow: hidden;
        }
    }

     &__dots {
        display: none;
    @extend .reviews__dots;
    justify-content: center;
    padding: 2px;
      @include r($size-xs) {
      display: flex;
    }

    }

    &__dot {
     @extend .reviews__dot;
    &--active {
       @extend .reviews__dot--active;
        }
    }
}