  <section
          class="hero mb-120" id="main"
          style="background-image: url('images/hero_bg.png')"
        >
          <h2 class="sr-only">Особливості сервісу доставки SimpleFood</h2>
          <div class="container">
             <div class="hero__content">
              <div class="hero__title">
                Доставка <span class="text-orange">за 15 хвилин</span>
              </div>
              <div class="hero__descriptions">
                <p>
                  Найшвидший сервіс доставки їжі у вашому місті. Якщо запізнемось
                  - то доставка за наш рахунок
                </p>
              </div>
              <div class="hero__actions">
                <a class="btn" href="">Замовити</a>
                <a class="td-link" href="">Детальніше</a>
              </div>
            </div>
          </div>
        </section>